# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Online_REST_API\Online_Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
